{% load static %}
<link rel="stylesheet" href={% static '_marquee.css' %}>
<div class="marquee">
    <div class="marquee-content">
        <span>Tecnológico de Software</span>
        <span>Core</span>
        <span>Django</span>
        <span>Blockchain</span>
        <span>Python</span>
        <span>Solidity</span>
        <span>Metamask</span>
        <span>NFTs</span>
        <span>Innovation</span>
        <span>Tecnológico de Software</span>
        <span>Core</span>
        <span>Django</span>
        <span>Blockchain</span>
        <span>Python</span>
        <span>Solidity</span>
        <span>Metamask</span>
        <span>NFTs</span>
        <span>Innovation</span>
    </div>
</div>
