.barra-superior{
    position: sticky;
    display: flex;
    width: 100%;
    font-family: Arial;
    top: 0%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
}
.image_logo{
    position: absolute;
    height: 6vmax;
    margin-top: 2vmax;
    margin-left: 0.5%;
    filter: brightness(1000%);
    padding-left: 3%;
}
.network-button{
  position: absolute;
  margin-top: 3vmax;
  margin-left: 85%;
  border-radius: 25px;
  background-color: #181A1B;
  color: azure;
  padding: 1%;
  border: none;
  display: flex;
  width: 11%;
  align-items: center;
  margin-right: 2%;
  padding-left: 1%;
}
.Icon_root{
  position: relative;
  margin-left: 12%;
}
