.marquee{
    transform: rotate(-1deg);
    width: 100vw;
    overflow: hidden;
    background-color: #181A1B;
    color: #fff;
    position: relative;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: -2%;
    margin-bottom: 2%;
}

/* Animación del texto */
.marquee-content{
    display: inline-block;
    width: 220%;
    height: 30px;
    margin-left: -100%;
    animation: slide-in 30s linear infinite;
}

.marquee-content span {
    margin-right: 50px; /* Espacio entre palabras */
    font-size: 20px;
}

@keyframes slide-in {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
